body{
    background-color: light;
    font-family: arial;
  }
  h4,h1{
    text-align: center;
  }
  h2{
    color: purple;
    font-weight: bold;
  }
  h3#size{
    color: purple;
    font-size: 15px;
  }
  h3#underline{
    color: purple;
    text-decoration: underline;
  }
  img{
    border: solid 2px black;
    
  }
  